form{
    margin-top: 6rem;
    margin-left: 11rem;
    background-color:rgb(63, 97, 131);
    width: 70%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}